In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_100.csv')

In [3]:
data.head()

,No..of.Items.requested,Associate.Involvment,Customer.type,Customer.Country,Number.of.Enquiries.made,Number.of.Orders.Given,Total.Order.Value..Total.amount.of.purchase.till.now..USD..,Type.of.Order.Machine.or.part.,National...International.Buyer,Type.of.Customer..Direct.Plant.or.Trader.,Urgency.Request..Yes...No.,Frequency.of.the.customer..How.many.times.the.customer.has.given.the.order.,Followup.Rate.of.the.Customer..in.days.,Priority.Score..out.of.1.10.,enq_order,total_ordval_by_no.order,int_no_itemreq_with_total_ordval_by_no_order,int_total_ordval_by_no_order_with_urgreq
0,1,0,0,Saudi Arabia,221,31,220000,1,1,1,0,High,7,10,7.129032,7096.774194,7096.774194,0.0
1,6,1,1,Nepal,1,0,0,0,1,1,1,New,3,7,0.000000,0.000000,0.000000,0.0
2,2,1,1,Nepal,1,0,0,0,1,1,1,New,3,7,0.000000,0.000000,0.000000,0.0
3,6,0,0,Philippines,14,0,0,0,1,1,1,Medium,7,8,0.000000,0.000000,0.000000,0.0
4,1,0,0,Indonesia,18,2,2459,0,1,0,1,High,3,8,9.000000,1229.500000,1229.500000,1229.5

In [4]:
list(data.columns)

['No..of.Items.requested',
 'Associate.Involvment',
 'Customer.type',
 'Customer.Country',
 'Number.of.Enquiries.made',
 'Number.of.Orders.Given',
 'Total.Order.Value..Total.amount.of.purchase.till.now..USD..',
 'Type.of.Order.Machine.or.part.',
 'National...International.Buyer',
 'Type.of.Customer..Direct.Plant.or.Trader.',
 'Urgency.Request..Yes...No.',
 'Frequency.of.the.customer..How.many.times.the.customer.has.given.the.order.',
 'Followup.Rate.of.the.Customer..in.days.',
 'Priority.Score..out.of.1.10.',
 'enq_order',
 'total_ordval_by_no.order',
 'int_no_itemreq_with_total_ordval_by_no_order',
 'int_total_ordval_by_no_order_with_urgreq']

In [5]:
data['Customer.Country'].value_counts()

Indonesia       37
Philippines     14
Nepal           12
Saudi Arabia    11
Africa           6
India            4
Uganda           4
Thailand         2
Phillippines     2
THAILAND         1
Phillipines      1
Australia        1
Name: Customer.Country, dtype: int64

In [6]:
data['Priority.Score..out.of.1.10.'].value_counts()

8     44
7     17
9     15
10    13
6      6
Name: Priority.Score..out.of.1.10., dtype: int64

In [7]:
data.rename(columns = {'Frequency.of.the.customer..How.many.times.the.customer.has.given.the.order.':'Frequency.of.Customer', 
                       'total_ordval_by_no.order' : 'Per_order_value'}, inplace = True)

In [8]:
data.head()

,No..of.Items.requested,Associate.Involvment,Customer.type,Customer.Country,Number.of.Enquiries.made,Number.of.Orders.Given,Total.Order.Value..Total.amount.of.purchase.till.now..USD..,Type.of.Order.Machine.or.part.,National...International.Buyer,Type.of.Customer..Direct.Plant.or.Trader.,Urgency.Request..Yes...No.,Frequency.of.Customer,Followup.Rate.of.the.Customer..in.days.,Priority.Score..out.of.1.10.,enq_order,Per_order_value,int_no_itemreq_with_total_ordval_by_no_order,int_total_ordval_by_no_order_with_urgreq
0,1,0,0,Saudi Arabia,221,31,220000,1,1,1,0,High,7,10,7.129032,7096.774194,7096.774194,0.0
1,6,1,1,Nepal,1,0,0,0,1,1,1,New,3,7,0.000000,0.000000,0.000000,0.0
2,2,1,1,Nepal,1,0,0,0,1,1,1,New,3,7,0.000000,0.000000,0.000000,0.0
3,6,0,0,Philippines,14,0,0,0,1,1,1,Medium,7,8,0.000000,0.000000,0.000000,0.0
4,1,0,0,Indonesia,18,2,2459,0,1,0,1,High,3,8,9.000000,1229.500000,1229.500000,1229.5

### One-Hot Encoding Categorical Variables

In [9]:
data = pd.get_dummies(data, columns = ['Frequency.of.Customer'])

In [10]:
list(data.columns)

['No..of.Items.requested',
 'Associate.Involvment',
 'Customer.type',
 'Customer.Country',
 'Number.of.Enquiries.made',
 'Number.of.Orders.Given',
 'Total.Order.Value..Total.amount.of.purchase.till.now..USD..',
 'Type.of.Order.Machine.or.part.',
 'National...International.Buyer',
 'Type.of.Customer..Direct.Plant.or.Trader.',
 'Urgency.Request..Yes...No.',
 'Followup.Rate.of.the.Customer..in.days.',
 'Priority.Score..out.of.1.10.',
 'enq_order',
 'Per_order_value',
 'int_no_itemreq_with_total_ordval_by_no_order',
 'int_total_ordval_by_no_order_with_urgreq',
 'Frequency.of.Customer_High',
 'Frequency.of.Customer_Low',
 'Frequency.of.Customer_Medium',
 'Frequency.of.Customer_New']

In [11]:
data.head()

,No..of.Items.requested,Associate.Involvment,Customer.type,Customer.Country,Number.of.Enquiries.made,Number.of.Orders.Given,Total.Order.Value..Total.amount.of.purchase.till.now..USD..,Type.of.Order.Machine.or.part.,National...International.Buyer,Type.of.Customer..Direct.Plant.or.Trader.,...,Followup.Rate.of.the.Customer..in.days.,Priority.Score..out.of.1.10.,enq_order,Per_order_value,int_no_itemreq_with_total_ordval_by_no_order,int_total_ordval_by_no_order_with_urgreq,Frequency.of.Customer_High,Frequency.of.Customer_Low,Frequency.of.Customer_Medium,Frequency.of.Customer_New
0,1,0,0,Saudi Arabia,221,31,220000,1,1,1,...,7,10,7.129032,7096.774194,7096.774194,0.0,1,0,0,0
1,6,1,1,Nepal,1,0,0,0,1,1,...,3,7,0.000000,0.000000,0.000000,0.0,0,0,0,1
2,2,1,1,Nepal,1,0,0,0,1,1,...,3,7,0.000000,0.000000,0.000000,0.0,0,0,0,1
3,6,0,0,Philippines,14,0,0,0,1,1,...,7,8,0.000000,0.000000,0.000000,0.0,0,0,1,0
4,1,0,0,Indonesia,18,2,2459,0,1,0,...,3,8,9.000000,1229.500000,1229.500000,1229.5,1,0,0,0

In [12]:
data['int_freq_high_no_of_items'] = data['No..of.Items.requested'] * data['Frequency.of.Customer_High']
data['int_freq_low_no_of_items'] = data['No..of.Items.requested'] * data['Frequency.of.Customer_Low']
data['int_freq_medium_no_of_items'] = data['No..of.Items.requested'] * data['Frequency.of.Customer_Medium']
data['int_freq_new_no_of_items'] = data['No..of.Items.requested'] * data['Frequency.of.Customer_New']

In [13]:
data.head()

,No..of.Items.requested,Associate.Involvment,Customer.type,Customer.Country,Number.of.Enquiries.made,Number.of.Orders.Given,Total.Order.Value..Total.amount.of.purchase.till.now..USD..,Type.of.Order.Machine.or.part.,National...International.Buyer,Type.of.Customer..Direct.Plant.or.Trader.,...,int_no_itemreq_with_total_ordval_by_no_order,int_total_ordval_by_no_order_with_urgreq,Frequency.of.Customer_High,Frequency.of.Customer_Low,Frequency.of.Customer_Medium,Frequency.of.Customer_New,int_freq_high_no_of_items,int_freq_low_no_of_items,int_freq_medium_no_of_items,int_freq_new_no_of_items
0,1,0,0,Saudi Arabia,221,31,220000,1,1,1,...,7096.774194,0.0,1,0,0,0,1,0,0,0
1,6,1,1,Nepal,1,0,0,0,1,1,...,0.000000,0.0,0,0,0,1,0,0,0,6
2,2,1,1,Nepal,1,0,0,0,1,1,...,0.000000,0.0,0,0,0,1,0,0,0,2
3,6,0,0,Philippines,14,0,0,0,1,1,...,0.000000,0.0,0,0,1,0,0,0,6,0
4,1,0,0,Indonesia,18,2,2459,0,1,0,...,1229.500000,1229.5,1,0,0,0,1,0,0,0

In [14]:
data['int_freq_high_per_ordval'] = data['Per_order_value'] * data['Frequency.of.Customer_High']
data['int_freq_low_per_ordval'] = data['Per_order_value'] * data['Frequency.of.Customer_Low']
data['int_freq_medium_per_ordval'] = data['Per_order_value'] * data['Frequency.of.Customer_Medium']
data['int_freq_new_per_ordval'] = data['Per_order_value'] * data['Frequency.of.Customer_New']

In [15]:
data.head(10)

,No..of.Items.requested,Associate.Involvment,Customer.type,Customer.Country,Number.of.Enquiries.made,Number.of.Orders.Given,Total.Order.Value..Total.amount.of.purchase.till.now..USD..,Type.of.Order.Machine.or.part.,National...International.Buyer,Type.of.Customer..Direct.Plant.or.Trader.,...,Frequency.of.Customer_Medium,Frequency.of.Customer_New,int_freq_high_no_of_items,int_freq_low_no_of_items,int_freq_medium_no_of_items,int_freq_new_no_of_items,int_freq_high_per_ordval,int_freq_low_per_ordval,int_freq_medium_per_ordval,int_freq_new_per_ordval
0,1,0,0,Saudi Arabia,221,31,220000,1,1,1,...,0,0,1,0,0,0,7096.774194,0.0,0.000000,0.0
1,6,1,1,Nepal,1,0,0,0,1,1,...,0,1,0,0,0,6,0.000000,0.0,0.000000,0.0
2,2,1,1,Nepal,1,0,0,0,1,1,...,0,1,0,0,0,2,0.000000,0.0,0.000000,0.0
3,6,0,0,Philippines,14,0,0,0,1,1,...,1,0,0,0,6,0,0.000000,0.0,0.000000,0.0
4,1,0,0,Indonesia,18,2,2459,0,1,0,...,0,0,1,0,0,0,1229.500000,0.0,0.000000,0.0
5,2,1,0,Africa,42,6,31255,0,1,1,...,0,0,2,0,0,0,5209.166667,0.0,0.000000,0.0
6,1,0,0,Philippines,14,0,0,0,1,1,...,1,0,0,0,1,0,0.000000,0.0,0.000000,0.0
7,27,1,1,India,1,0,0,0,1,1,...,1,0,0,0,27,0,0.000000,0.0,0.000000,0.0
8,2,0,0,Philippines,15,6,35000,0,1,1,...,1,0,0,0,2,0,0.000000,0.0,5833.333333,0.0
9,2,0,0,Indonesia,40,18,140000,0,1,1,...,1,0,0,0,2,0,0.000000,0.0,7777.777778,0.0

In [16]:
data = data.drop(['Customer.Country'], axis = 1)

### Train-Test Split

In [17]:
X = data.drop(['Priority.Score..out.of.1.10.'], axis = 1)
y = data['Priority.Score..out.of.1.10.']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state = 7)

In [19]:
x_test.shape

(15, 27)

In [20]:
y_train.value_counts()

8     38
9     13
7     13
10    10
6      6
Name: Priority.Score..out.of.1.10., dtype: int64

### Handling Imbalance in Data

###### SMOTE

In [21]:
from imblearn.over_sampling import SMOTE

In [22]:
smote = SMOTE(sampling_strategy = 'minority')
X_sm, y_sm = smote.fit_resample(x_train, y_train)

In [23]:
y_sm.value_counts()

8     38
6     38
9     13
7     13
10    10
Name: Priority.Score..out.of.1.10., dtype: int64

In [24]:
smote1 = SMOTE(sampling_strategy = 'minority')
X_sm1, y_sm1 = smote.fit_resample(X_sm,y_sm)

In [25]:
y_sm1.value_counts()

8     38
10    38
6     38
9     13
7     13
Name: Priority.Score..out.of.1.10., dtype: int64

In [26]:
smote2 = SMOTE(sampling_strategy = 'minority')
X_sm2, y_sm2 = smote.fit_resample(X_sm1,y_sm1)

In [27]:
y_sm2.value_counts()

8     38
10    38
7     38
6     38
9     13
Name: Priority.Score..out.of.1.10., dtype: int64

In [28]:
smote3 = SMOTE(sampling_strategy = 'minority')
X_sm3, y_sm3 = smote.fit_resample(X_sm2,y_sm2)

In [29]:
y_sm3.value_counts()

8     38
9     38
10    38
7     38
6     38
Name: Priority.Score..out.of.1.10., dtype: int64

In [30]:
X_sm3.shape

(190, 27)

In [31]:
data.shape

(95, 28)

## ANN

In [32]:
import tensorflow as tf
from tensorflow import keras

In [33]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y1 = encoder.fit_transform(y_sm3)
#Y = pd.get_dummies(y1).values

In [34]:
model = keras.Sequential([
    keras.layers.Dense(32, input_shape=(27,), activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    #keras.layers.Dense(8, activation='relu'),
    keras.layers.Dense(5, activation='softmax')
])

In [35]:
model.compile(optimizer='Adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [36]:
model.fit(X_sm3, y1, batch_size = 50, epochs=200)

Epoch 1/200
4/4 [==============================] - 1s 8ms/step - loss: 2796.7427 - accuracy: 0.1737
Epoch 2/200
4/4 [==============================] - 0s 5ms/step - loss: 1495.0394 - accuracy: 0.3158
Epoch 3/200
4/4 [==============================] - 0s 3ms/step - loss: 1373.2968 - accuracy: 0.3421
Epoch 4/200
4/4 [==============================] - 0s 4ms/step - loss: 1241.4348 - accuracy: 0.3211
Epoch 5/200
4/4 [==============================] - 0s 4ms/step - loss: 1028.4550 - accuracy: 0.3474
Epoch 6/200
4/4 [==============================] - 0s 5ms/step - loss: 889.4056 - accuracy: 0.3526
Epoch 7/200
4/4 [==============================] - 0s 3ms/step - loss: 797.6838 - accuracy: 0.3684
Epoch 8/200
4/4 [==============================] - 0s 3ms/step - loss: 676.6851 - accuracy: 0.3684
Epoch 9/200
4/4 [==============================] - 0s 4ms/step - loss: 560.4435 - accuracy: 0.3947
Epoch 10/200
4/4 [==============================] - 0s 2ms/step - loss: 446.3888 - accuracy: 0.4263
Epoch 11/200
4/4 [==============================] - 0s 4ms/step - loss: 383.0834 - accuracy: 0.4579
Epoch 12/200
4/4 [==============================] - 0s 3ms/step - loss: 299.0396 - accuracy: 0.4053
Epoch 13/200
4/4 [==============================] - 0s 4ms/step - loss: 230.7483 - accuracy: 0.4947
Epoch 14/200
4/4 [==============================] - 0s 4ms/step - loss: 178.5661 - accuracy: 0.5000
Epoch 15/200
4/4 [==============================] - 0s 5ms/step - loss: 129.2058 - accuracy: 0.5000
Epoch 16/200
4/4 [==============================] - 0s 3ms/step - loss: 75.5710 - accuracy: 0.5368
Epoch 17/200
4/4 [==============================] - 0s 4ms/step - loss: 56.8843 - accuracy: 0.5737
Epoch 18/200
4/4 [==============================] - 0s 3ms/step - loss: 45.7341 - accuracy: 0.6000
Epoch 19/200
4/4 [==============================] - 0s 4ms/step - loss: 34.1231 - accuracy: 0.5737
Epoch 20/200
4/4 [==============================] - 0s 2ms/step - loss: 28.0923 - accuracy: 0.6105
Epoch 21/200
4/4 [==============================] - 0s 3ms/step - loss: 24.4735 - accuracy: 0.6474
Epoch 22/200
4/4 [==============================] - 0s 3ms/step - loss: 22.0283 - accuracy: 0.6789
Epoch 23/200
4/4 [==============================] - 0s 4ms/step - loss: 19.8940 - accuracy: 0.6842
Epoch 24/200
4/4 [==============================] - 0s 4ms/step - loss: 16.0214 - accuracy: 0.7211
Epoch 25/200
4/4 [==============================] - 0s 4ms/step - loss: 15.9219 - accuracy: 0.7158
Epoch 26/200
4/4 [==============================] - 0s 1ms/step - loss: 15.0684 - accuracy: 0.7158
Epoch 27/200
4/4 [==============================] - 0s 4ms/step - loss: 14.9766 - accuracy: 0.7105
Epoch 28/200
4/4 [==============================] - 0s 4ms/step - loss: 13.6890 - accuracy: 0.7053
Epoch 29/200
4/4 [==============================] - 0s 3ms/step - loss: 13.7673 - accuracy: 0.7158
Epoch 30/200
4/4 [==============================] - 0s 3ms/step - loss: 13.6605 - accuracy: 0.7158
Epoch 31/200
4/4 [==============================] - 0s 4ms/step - loss: 13.2387 - accuracy: 0.7263
Epoch 32/200
4/4 [==============================] - 0s 4ms/step - loss: 12.9575 - accuracy: 0.7316
Epoch 33/200
4/4 [==============================] - 0s 3ms/step - loss: 12.0868 - accuracy: 0.7579
Epoch 34/200
4/4 [==============================] - 0s 1ms/step - loss: 11.3337 - accuracy: 0.7684
Epoch 35/200
4/4 [==============================] - 0s 4ms/step - loss: 10.9154 - accuracy: 0.7842
Epoch 36/200
4/4 [==============================] - 0s 3ms/step - loss: 10.7179 - accuracy: 0.7895
Epoch 37/200
4/4 [==============================] - 0s 3ms/step - loss: 10.2750 - accuracy: 0.8000
Epoch 38/200
4/4 [==============================] - 0s 4ms/step - loss: 10.2136 - accuracy: 0.8000
Epoch 39/200
4/4 [==============================] - 0s 3ms/step - loss: 9.3328 - accuracy: 0.8000
Epoch 40/200
4/4 [==============================] - 0s 4ms/step - loss: 9.3833 - accuracy: 0.8000
Epoch 41/200
4/4 [==============================] - 0s 3ms/step - loss: 9.0335 - accuracy: 0.8211
Epoch 42/200
4/4 [==============================] - 0s 2ms/step - loss: 8.4848 - accuracy: 0.8368
Epoch 43/200
4/4 [==============================] - 0s 3ms/step - loss: 8.0541 - accuracy: 0.8421
Epoch 44/200
4/4 [==============================] - 0s 3ms/step - loss: 8.9427 - accuracy: 0.8526
Epoch 45/200
4/4 [==============================] - 0s 3ms/step - loss: 7.7115 - accuracy: 0.8526
Epoch 46/200
4/4 [==============================] - 0s 4ms/step - loss: 8.1820 - accuracy: 0.8474
Epoch 47/200
4/4 [==============================] - 0s 4ms/step - loss: 8.8179 - accuracy: 0.8421
Epoch 48/200
4/4 [==============================] - 0s 4ms/step - loss: 9.0493 - accuracy: 0.8211
Epoch 49/200
4/4 [==============================] - 0s 4ms/step - loss: 6.9945 - accuracy: 0.8316
Epoch 50/200
4/4 [==============================] - 0s 4ms/step - loss: 6.9473 - accuracy: 0.8158
Epoch 51/200
4/4 [==============================] - 0s 3ms/step - loss: 6.5046 - accuracy: 0.8684
Epoch 52/200
4/4 [==============================] - 0s 2ms/step - loss: 6.8059 - accuracy: 0.8579
Epoch 53/200
4/4 [==============================] - 0s 4ms/step - loss: 5.8714 - accuracy: 0.8737
Epoch 54/200
4/4 [==============================] - 0s 3ms/step - loss: 6.1421 - accuracy: 0.8684
Epoch 55/200
4/4 [==============================] - 0s 3ms/step - loss: 5.3618 - accuracy: 0.8632
Epoch 56/200
4/4 [==============================] - 0s 3ms/step - loss: 5.5706 - accuracy: 0.8579
Epoch 57/200
4/4 [==============================] - 0s 2ms/step - loss: 5.4013 - accuracy: 0.8895
Epoch 58/200
4/4 [==============================] - 0s 3ms/step - loss: 5.2976 - accuracy: 0.8789
Epoch 59/200
4/4 [==============================] - 0s 4ms/step - loss: 4.9127 - accuracy: 0.8789
Epoch 60/200
4/4 [==============================] - 0s 4ms/step - loss: 4.9217 - accuracy: 0.8737
Epoch 61/200
4/4 [==============================] - 0s 3ms/step - loss: 4.3770 - accuracy: 0.8737
Epoch 62/200
4/4 [==============================] - 0s 5ms/step - loss: 4.3785 - accuracy: 0.8842
Epoch 63/200
4/4 [==============================] - 0s 3ms/step - loss: 4.3243 - accuracy: 0.8842
Epoch 64/200
4/4 [==============================] - 0s 5ms/step - loss: 5.8140 - accuracy: 0.8632
Epoch 65/200
4/4 [==============================] - 0s 3ms/step - loss: 4.6147 - accuracy: 0.8632
Epoch 66/200
4/4 [==============================] - 0s 2ms/step - loss: 5.9412 - accuracy: 0.8737
Epoch 67/200
4/4 [==============================] - 0s 4ms/step - loss: 4.8047 - accuracy: 0.8684
Epoch 68/200
4/4 [==============================] - 0s 4ms/step - loss: 4.1598 - accuracy: 0.8737
Epoch 69/200
4/4 [==============================] - 0s 3ms/step - loss: 3.8453 - accuracy: 0.8579
Epoch 70/200
4/4 [==============================] - 0s 4ms/step - loss: 2.4944 - accuracy: 0.8789
Epoch 71/200
4/4 [==============================] - 0s 4ms/step - loss: 2.7213 - accuracy: 0.8632
Epoch 72/200
4/4 [==============================] - 0s 336us/step - loss: 2.6186 - accuracy: 0.8789
Epoch 73/200
4/4 [==============================] - 0s 4ms/step - loss: 1.3287 - accuracy: 0.8789
Epoch 74/200
4/4 [==============================] - 0s 2ms/step - loss: 0.5350 - accuracy: 0.9158
Epoch 75/200
4/4 [==============================] - 0s 5ms/step - loss: 0.9749 - accuracy: 0.9105
Epoch 76/200
4/4 [==============================] - 0s 4ms/step - loss: 0.9734 - accuracy: 0.9053
Epoch 77/200
4/4 [==============================] - 0s 2ms/step - loss: 0.6829 - accuracy: 0.9158
Epoch 78/200
4/4 [==============================] - 0s 2ms/step - loss: 0.5376 - accuracy: 0.9053
Epoch 79/200
4/4 [==============================] - 0s 4ms/step - loss: 1.5316 - accuracy: 0.9158
Epoch 80/200
4/4 [==============================] - 0s 5ms/step - loss: 0.6692 - accuracy: 0.9053
Epoch 81/200
4/4 [==============================] - 0s 4ms/step - loss: 1.3910 - accuracy: 0.9105
Epoch 82/200
4/4 [==============================] - 0s 11ms/step - loss: 1.5755 - accuracy: 0.9211
Epoch 83/200
4/4 [==============================] - 0s 0s/step - loss: 0.9845 - accuracy: 0.9316
Epoch 84/200

4/4 [==============================] - 0s 2ms/step - loss: 0.6550 - accuracy: 0.9105
Epoch 85/200
4/4 [==============================] - 0s 2ms/step - loss: 1.6772 - accuracy: 0.9316
Epoch 86/200
4/4 [==============================] - 0s 3ms/step - loss: 1.0391 - accuracy: 0.9158
Epoch 87/200
4/4 [==============================] - 0s 3ms/step - loss: 0.2452 - accuracy: 0.9421
Epoch 88/200
4/4 [==============================] - 0s 3ms/step - loss: 0.3511 - accuracy: 0.9421
Epoch 89/200
4/4 [==============================] - 0s 2ms/step - loss: 0.2602 - accuracy: 0.9368
Epoch 90/200
4/4 [==============================] - 0s 4ms/step - loss: 0.7274 - accuracy: 0.9211
Epoch 91/200
4/4 [==============================] - 0s 953us/step - loss: 1.2490 - accuracy: 0.9316
Epoch 92/200
4/4 [==============================] - 0s 3ms/step - loss: 2.7271 - accuracy: 0.9000
Epoch 93/200
4/4 [==============================] - 0s 4ms/step - loss: 0.9662 - accuracy: 0.9368
Epoch 94/200
4/4 [==============================] - 0s 5ms/step - loss: 1.2041 - accuracy: 0.9263
Epoch 95/200
4/4 [==============================] - 0s 2ms/step - loss: 1.4408 - accuracy: 0.9105
Epoch 96/200
4/4 [==============================] - 0s 3ms/step - loss: 0.5077 - accuracy: 0.9211
Epoch 97/200
4/4 [==============================] - 0s 5ms/step - loss: 1.7413 - accuracy: 0.9316
Epoch 98/200
4/4 [==============================] - 0s 2ms/step - loss: 1.1426 - accuracy: 0.9316
Epoch 99/200
4/4 [==============================] - 0s 3ms/step - loss: 1.6973 - accuracy: 0.9211
Epoch 100/200
4/4 [==============================] - 0s 4ms/step - loss: 0.2078 - accuracy: 0.9526
Epoch 101/200
4/4 [==============================] - 0s 912us/step - loss: 0.9014 - accuracy: 0.9526
Epoch 102/200
4/4 [==============================] - 0s 4ms/step - loss: 0.5601 - accuracy: 0.9421
Epoch 103/200
4/4 [==============================] - 0s 3ms/step - loss: 0.5641 - accuracy: 0.9421
Epoch 104/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1979 - accuracy: 0.9579
Epoch 105/200
4/4 [==============================] - 0s 2ms/step - loss: 0.5681 - accuracy: 0.9526
Epoch 106/200
4/4 [==============================] - 0s 4ms/step - loss: 0.3205 - accuracy: 0.9421
Epoch 107/200
4/4 [==============================] - 0s 5ms/step - loss: 0.2036 - accuracy: 0.9579
Epoch 108/200
4/4 [==============================] - 0s 2ms/step - loss: 0.4832 - accuracy: 0.9632
Epoch 109/200
4/4 [==============================] - 0s 3ms/step - loss: 0.2526 - accuracy: 0.9684
Epoch 110/200
4/4 [==============================] - 0s 5ms/step - loss: 0.2696 - accuracy: 0.9684
Epoch 111/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1831 - accuracy: 0.9737
Epoch 112/200
4/4 [==============================] - 0s 1ms/step - loss: 0.1822 - accuracy: 0.9737
Epoch 113/200
4/4 [==============================] - 0s 2ms/step - loss: 0.1794 - accuracy: 0.9737
Epoch 114/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1775 - accuracy: 0.9737
Epoch 115/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1758 - accuracy: 0.9737
Epoch 116/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1739 - accuracy: 0.9737
Epoch 117/200
4/4 [==============================] - 0s 543us/step - loss: 0.1722 - accuracy: 0.9737
Epoch 118/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1707 - accuracy: 0.9737
Epoch 119/200
4/4 [==============================] - 0s 2ms/step - loss: 0.1689 - accuracy: 0.9737
Epoch 120/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1672 - accuracy: 0.9737
Epoch 121/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1658 - accuracy: 0.9737
Epoch 122/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1641 - accuracy: 0.9737
Epoch 123/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1626 - accuracy: 0.9737
Epoch 124/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1612 - accuracy: 0.9737
Epoch 125/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1595 - accuracy: 0.9737
Epoch 126/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1581 - accuracy: 0.9737
Epoch 127/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1568 - accuracy: 0.9737
Epoch 128/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1554 - accuracy: 0.9737
Epoch 129/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1541 - accuracy: 0.9789
Epoch 130/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1524 - accuracy: 0.9789
Epoch 131/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1515 - accuracy: 0.9737
Epoch 132/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1501 - accuracy: 0.9789
Epoch 133/200
4/4 [==============================] - 0s 1ms/step - loss: 0.1489 - accuracy: 0.9842
Epoch 134/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1472 - accuracy: 0.9842
Epoch 135/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1460 - accuracy: 0.9842
Epoch 136/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1448 - accuracy: 0.9737
Epoch 137/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1434 - accuracy: 0.9842
Epoch 138/200
4/4 [==============================] - 0s 1ms/step - loss: 0.1420 - accuracy: 0.9842
Epoch 139/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1408 - accuracy: 0.9842
Epoch 140/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1396 - accuracy: 0.9842
Epoch 141/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1384 - accuracy: 0.9842
Epoch 142/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1370 - accuracy: 0.9842
Epoch 143/200
4/4 [==============================] - 0s 6ms/step - loss: 0.1358 - accuracy: 0.9842
Epoch 144/200
4/4 [==============================] - 0s 7ms/step - loss: 0.1347 - accuracy: 0.9842
Epoch 145/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1336 - accuracy: 0.9842
Epoch 146/200
4/4 [==============================] - 0s 1ms/step - loss: 0.1325 - accuracy: 0.9842
Epoch 147/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1313 - accuracy: 0.9842
Epoch 148/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1302 - accuracy: 0.9842
Epoch 149/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1295 - accuracy: 0.9842
Epoch 150/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1282 - accuracy: 0.9842
Epoch 151/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1272 - accuracy: 0.9842
Epoch 152/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1262 - accuracy: 0.9842
Epoch 153/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1251 - accuracy: 0.9842
Epoch 154/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1243 - accuracy: 0.9842
Epoch 155/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1232 - accuracy: 0.9842
Epoch 156/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1221 - accuracy: 0.9842
Epoch 157/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1213 - accuracy: 0.9842
Epoch 158/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1204 - accuracy: 0.9842
Epoch 159/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1195 - accuracy: 0.9842
Epoch 160/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1187 - accuracy: 0.9842
Epoch 161/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1178 - accuracy: 0.9842
Epoch 162/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1168 - accuracy: 0.9842
Epoch 163/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1160 - accuracy: 0.9842
Epoch 164/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1151 - accuracy: 0.9842
Epoch 165/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1142 - accuracy: 0.9842
Epoch 166/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1135 - accuracy: 0.9842

Epoch 167/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1125 - accuracy: 0.9842
Epoch 168/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1119 - accuracy: 0.9842
Epoch 169/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1110 - accuracy: 0.9842
Epoch 170/200
4/4 [==============================] - 0s 2ms/step - loss: 0.1098 - accuracy: 0.9842
Epoch 171/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1090 - accuracy: 0.9842
Epoch 172/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1080 - accuracy: 0.9842
Epoch 173/200
4/4 [==============================] - 0s 2ms/step - loss: 0.1070 - accuracy: 0.9842
Epoch 174/200
4/4 [==============================] - 0s 2ms/step - loss: 0.1061 - accuracy: 0.9842
Epoch 175/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1053 - accuracy: 0.9842
Epoch 176/200
4/4 [==============================] - 0s 5ms/step - loss: 0.1044 - accuracy: 0.9842
Epoch 177/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1036 - accuracy: 0.9842
Epoch 178/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1030 - accuracy: 0.9842
Epoch 179/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1023 - accuracy: 0.9842
Epoch 180/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1012 - accuracy: 0.9842
Epoch 181/200
4/4 [==============================] - 0s 4ms/step - loss: 0.1005 - accuracy: 0.9842
Epoch 182/200
4/4 [==============================] - 0s 3ms/step - loss: 0.1000 - accuracy: 0.9842
Epoch 183/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0992 - accuracy: 0.9842
Epoch 184/200
4/4 [==============================] - 0s 3ms/step - loss: 0.0986 - accuracy: 0.9842
Epoch 185/200
4/4 [==============================] - 0s 3ms/step - loss: 0.0980 - accuracy: 0.9842
Epoch 186/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0970 - accuracy: 0.9842
Epoch 187/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0964 - accuracy: 0.9842
Epoch 188/200
4/4 [==============================] - 0s 3ms/step - loss: 0.0957 - accuracy: 0.9842
Epoch 189/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0952 - accuracy: 0.9842
Epoch 190/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0945 - accuracy: 0.9842
Epoch 191/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0941 - accuracy: 0.9842
Epoch 192/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0934 - accuracy: 0.9842
Epoch 193/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0929 - accuracy: 0.9842
Epoch 194/200
4/4 [==============================] - 0s 4ms/step - loss: 0.0923 - accuracy: 0.9789
Epoch 195/200
4/4 [==============================] - 0s 5ms/step - loss: 0.0915 - accuracy: 0.9789
Epoch 196/200
4/4 [==============================] - 0s 944us/step - loss: 0.0910 - accuracy: 0.9842
Epoch 197/200
4/4 [==============================] - 0s 1ms/step - loss: 0.0906 - accuracy: 0.9842
Epoch 198/200
4/4 [==============================] - 0s 2ms/step - loss: 0.0899 - accuracy: 0.9842
Epoch 199/200
4/4 [==============================] - 0s 3ms/step - loss: 0.0893 - accuracy: 0.9842
Epoch 200/200
4/4 [==============================] - 0s 2ms/step - loss: 0.0887 - accuracy: 0.9842

In [37]:
y_pred = model.predict(x_test)

1/1 [==============================] - 0s 172ms/step

array([[3.6317851e-02, 4.4298717e-01, 4.3209988e-01, 8.3056293e-02,
        5.5388343e-03],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0000000e+00,
        4.6922832e-34],
       [5.9007499e-02, 1.0763375e-01, 7.8872633e-01, 4.2673238e-02,
        1.9591483e-03],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00]], dtype=float32)

In [38]:
ind = [y_pred[i,].argmax()+6 for i in range(len(y_pred))]
ind

[7, 9, 8, 10, 10, 8, 7, 9, 10, 7, 8, 8, 8, 9, 8]

In [39]:
y_pred[0,].argmax()

1

In [40]:
y_test = np.array(y_test)
y_test

array([ 7,  9,  8, 10, 10,  8,  7,  7, 10,  7,  8,  8,  8,  9,  8],
      dtype=int64)

In [41]:
count_ann = 0
index_ann = []
for i in range(15):
    if(ind[i] == y_test[i]):
        count_ann = count_ann + 1
    else:
        print(i)

7

In [54]:
14/15

0.9333333333333333

## Multi-Class Logistic

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
log_model = LogisticRegression(max_iter = 1000, multi_class = 'ovr')

In [45]:
log_model.fit(x_train, y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000, multi_class='ovr')

In [46]:
y_log_pred = log_model.predict(x_test)
y_log_pred

array([ 8,  9,  8, 10, 10,  8,  8,  9, 10,  9,  8,  8,  8,  9,  8],
      dtype=int64)

In [47]:
y_test

array([ 7,  9,  8, 10, 10,  8,  7,  7, 10,  7,  8,  8,  8,  9,  8],
      dtype=int64)

In [48]:
len(y_test)

15

In [49]:
y_log_test = np.array(y_test)

In [50]:
count = 0
index = []
for i in range(15):
    if(y_log_pred[i] == y_log_test[i]):
        count = count + 1
    else:
        print(i)

0
6
7
9

In [52]:
count

11

In [53]:
11/15

0.7333333333333333